.callout {
	background-image: url(../img/bg-test.jpg);
	color: #fff;
	
}

.callout h1 {
	color: #fff;
}

.conditions p {
	text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #319db8;
}

a {
	color: #e02673;
}

ul.menu {
	background-color: transparent;
}

li.menu-text {
	color: #fff;
}

div.top-bar {
	background-color: #319db9;
}

div.top-bar a {
	color: #fff;
}

div.top-bar a:hover {
	position: relative;
	top: 1px;
}

footer {
	background-color: #319db9;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
}

footer a {
	color: #fff;
}


.conditions {
	margin-top: 60px;
	margin-bottom: 30px;
}

#ModalServices ul li {
	border-bottom: 1px solid #df2673;
	list-style-type: none;
}

#ModalServices ul {
	margin: 0;
}

#ModalServices ul li.no-border {
	border-bottom-style: none;
}

i.fa.fa-user-md.fa-5x {
	color: #df2673;
}