body {
	font: 1.1em 'Lato', sans-serif;
	letter-spacing: .01em;
}

.callout h1 {
	color: #d6d6d6;
}

p.lead.callout {
	color: #fff;
}

.conditions p {
	text-align: justify;
}


h1, h2, h3, h4, h5, h6, small {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #319db8;
}

p.lead {
	color: #319db8;
}

a {
	color: #e02673;
}

ul.menu {
	background-color: transparent;
}

li.menu-text {
	color: #fff;
	text-shadow: #1e748a 0 2px 0;
	text-transform: uppercase;
	font-size: .8em;
}

div.top-bar {
	background-color: #319db9;
}

div.top-bar a {
	color: #fff;
	text-shadow: #1f768b 0 2px 0;
}

div.top-bar a:hover {
	position: relative;
	top: 1px;
	text-shadow: #1f768b 0 0px 0;
}

footer {
	background-color: #319db9;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
}

footer a {
	color: #fff;
	font-size: .8em;
}


.conditions {
	margin-top: 60px;
	margin-bottom: 30px;
}

#ModalServices ul li {
	border-bottom: 1px solid #abf3ec;
	list-style-type: none;
	color: #319db7;
	font-size: 1.4em;
	line-height: 1.9em;
}

#ModalAbout ol li {
	border-bottom: 1px solid #abf3ec;
	color: #319db7;
	line-height: 1.9em;
}

#ModalServices ul {
	margin: 0;

}

.reveal
 {
	padding-bottom: 100px;
	background-image: url(../img/bg-modal.jpg);
	background-size: cover;
	-moz-background-size: cover;
	
}

#ModalServices ul li.no-border {
	border-bottom-style: none;
}

i.fa.fa-user-md.fa-5x {
	color: #319db7;
}

.intro {

	padding-bottom: 60px;
	margin-bottom: 100px;
	border-bottom: 1px dotted #319db8;
	padding-top: 80px;
	background-image: url(../img/mel-hair.jpg);
	background-size: cover;
}

.intro h1 {
	color: #fff;
}