/* @override http://www.meerkatportfolio.co.uk/css/text.css */

/* @override http://meerkatportfolio.co.uk/css/text.css */

/* @override http://www.meerkatportfolio.co.uk/css/text.css */

#nav-top li.active a {
	font-family: "Open Sans";
	font-weight: bold;
	color: #999;
}

#nav-top li.current a {

	text-shadow: 0 0 5px #fff,
				0 0 5px #fff,
				0 0 5px #c41a02;
	color: #fff;
}

.credit {
	
	text-shadow: 0 0 1px #fff,
				0 0 1px #fff,
				0 0 1px #c41a02;
}

/*setup*/

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}


/*neeeeoooon*/
.paws p{
  text-align:center;
  font-size:7em;
  margin: 100px 0 140px; 
}

.paws  a{
  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.paws p:nth-child(1) a{
  color:#c41a02;
  font-family:Monoton;
}
.paws p:nth-child(1) a:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.paws p a:hover{
color:#ffffff;  
}



/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #c41a02,
               0 0 70px  #c41a02,
               0 0 80px  #c41a02,
               0 0 100px #c41a02,
               0 0 150px #c41a02;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #c41a02,
               0 0 35px #c41a02,
               0 0 40px #c41a02,
               0 0 50px #c41a02,
               0 0 75px #c41a02;
  }

img.logo {
	
}
}


/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #c41a02,
               0 0 70px  #c41a02,
               0 0 80px  #c41a02,
               0 0 100px #c41a02,
               0 0 150px #c41a02;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #c41a02,
               0 0 35px #c41a02,
               0 0 40px #c41a02,
               0 0 50px #c41a02,
               0 0 75px #c41a02;
  }
}


/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}



/*RESPONSIVE*/
@media (max-width: 650px) {
  
  #container{
    width: 100%;
  }
  
  .paws p{
    font-size:3.5em;
  }

}

}